In [1]:
import pyspark

In [2]:
pyspark.__file__

'/usr/local/spark/python/pyspark/__init__.py'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [5]:
print(f'The PySpark {spark.version} version is running...')

The PySpark 3.5.0 version is running...

In [6]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-03-04 10:31:47--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.63.72, 54.231.128.176, 52.217.228.0, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.63.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.2’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2024-03-04 10:31:47 (8.98 MB/s) - ‘taxi+_zone_lookup.csv.2’ saved [12322/12322]

In [7]:
!head taxi+_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [8]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [9]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [10]:
df.write.parquet('zones')

In [11]:
!ls -lh

total 185K
-rwxrwxrwx 1 root   root  7.4K Mar  4 10:30 03_test.ipynb
-rwxrwxrwx 1 root   root   19K Feb 12 11:30 04_pyspark.ipynb
-rwxrwxrwx 1 root   root   34K Feb 12 11:30 05_taxi_schema.ipynb
-rwxrwxrwx 1 root   root  2.8K Feb 12 11:30 06_spark_sql_big_query.py
-rwxrwxrwx 1 root   root  9.0K Feb 12 11:30 06_spark_sql.ipynb
-rwxrwxrwx 1 root   root  2.6K Feb 12 11:30 06_spark_sql.py
-rwxrwxrwx 1 root   root  7.9K Feb 12 11:30 07_groupby_join.ipynb
-rwxrwxrwx 1 root   root   12K Feb 12 11:30 08_rdds.ipynb
-rwxrwxrwx 1 root   root  4.5K Feb 12 11:30 09_spark_gcs.ipynb
-rwxrwxrwx 1 root   root  3.1K Feb 12 11:30 cloud.md
-rwxrwxrwx 1 root   root   566 Feb 12 11:30 download_data.sh
-rwxrwxrwx 1 root   root   17K Feb 12 11:30 homework.ipynb
-rw-r--r-- 1 jovyan users  13K Aug 17  2016 taxi+_zone_lookup.csv
-rw-r--r-- 1 jovyan users  13K Aug 17  2016 taxi+_zone_lookup.csv.1
-rw-r--r-- 1 jovyan users  13K Aug 17  2016 taxi+_zone_lookup.csv.2
drwxr-xr-x 1 jovyan users  512 Mar  4 10:31 zones